<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">//如果debug为true表示项目启动时会检索logback相关的启动信息
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">//表示输出到控制台
        <Target>System.out</Target>
        <encoder>
<!--            <pattern>%highlight(%-5level) %d{HH:mm:ss.SSS} %m %n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} |-%highlight(%-5level) in %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="debug">
        <appender-ref ref="stdout" />
    </root>
</configuration>
